@font-face {
  font-family: authorRegular;
  src: url(./fonts/Author-Regular.otf);
}

@font-face {
  font-family: authorBold;
  src: url(./fonts/Author-Bold.otf);
}

body {
  font-family: authorRegular;
}


.icon-home {
  filter: invert(15%) sepia(67%) saturate(5667%) hue-rotate(350deg) brightness(102%) contrast(92%);
  position: relative;
  bottom: 3px;
}

.search-icon {
  position: absolute;
  top: 20%;
  right: 4%;
  width: 18px;
  height: 18px;
}

.form-control.custom--input {
  background:#E8E8E8;
  border: unset;
  border-radius: 5px;
  font-size: 14px;
  color:#333333;
  width: 200px;
}

.form__search {
  width: auto;
  margin-right: 30px;
}

.bg--custom {
  background: #ffffff;
}

.btn.btn-primary--custom {
  color: #FFFFFF;
  background: #009688;
}

.btn.btn-secondary--custom {
  color: #009688;
  background: #DFDCEA;
}

header .nav-item {
  margin-right: 20px;
}

header .nav-item.custom--mr {
  margin-right: 10px;
}

header .nav-item .nav-link.active {
  border-bottom: 4px solid #ED1C24;
}

header .nav-item .nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #333333 !important;
  text-transform: uppercase;
}

header .navbar-brand {
  margin-right: 40px;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 40px;
  height: 40px;
  background: #371F1F !important;
  border-radius: 50%;
}

i.icon--custom-position {
  position: relative;
  right: 25px;
}

.gpu__content.new-release h2 {
  color: #E20A15;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: unset;
}

.gpu__content.new-release h3 a {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.gpu__content.new-release h3 {
  margin-top: unset;
  margin-bottom: 40px;
}

.wrapper__carousel img {
  width: 150px !important;
  height: 210px;
}

.gpu__content.new-release .carousel__category {
  color: #009688;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}

.gpu__content.new-release .carousel__title {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.gpu__content.new-release .carousel__author {
  color: #1C79E5;
  font-size: 16px;
  font-weight: 500;
}

.carousel.slide.custom button:hover {
  background-color: unset !important;
}

.carousel.slide.custom button:focus {
  background-color: unset !important;
}

.carousel__detail {
  margin: 0px 20px;
}

.gpu__content.new-release .wrapper__carousel .owl-dot.active span {
  width: 30px !important;
  height: 7px !important;
  border-radius: 10px !important;
  background: #E20A15 !important;
}


.gpu__content.new-release .wrapper__carousel .owl-dot {
  margin-top: 30px;
}

.gpu__content.new-release .wrapper__carousel .owl-dot span {
  width: 7px !important;
  height: 7px !important;
  border-radius: 10px !important;
  background: #C4C4C4 !important;
}

.wrapper__carousel .owl-nav {
  display: none;
}

.fa-arrow-right.custom--color-orange {
  position: relative;
  bottom: -2px;
  font-size: 20px;
  color: #FF8159;
  margin-left: 5px;
}

.gpu__content.coming-soon {
  background: #9B1A1A;
  padding: 50px 0px;
}

.gpu__content.coming-soon h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  margin-top: unset;
  margin-bottom: unset;
  text-transform: uppercase;
}

.gpu__content.coming-soon h3 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
}

.gpu__content.coming-soon .coming-soon__more {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.fa-arrow-right.custom--color-white {
  position: relative;
  bottom: -2px;
  font-size: 20px;
  color: #ffffff;
  margin-left: 5px;
}

.gpu__content.coming-soon .carousel__title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.gpu__content.coming-soon .carousel__timedate {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.gpu__content.coming-soon .wrapper__carousel .owl-dots {
  display: none;
}


.gpu__content.bestselling h2 {
  font-size: 36px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.gpu__content.bestselling h3 {
  margin-top: unset;
}

.gpu__content.bestselling h3 a {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
}

.gpu__content.bestselling .carousel__category {
  color: #009688;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}

.gpu__content.bestselling .carousel__title {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.gpu__content.bestselling .carousel__author {
  color: #1C79E5;
  font-size: 16px;
  font-weight: 500;
}

.book__wrapper {
  position: absolute;
  width: 170px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.gpu__content.bestselling img {
  width: 170px;
}

.bestselling__wrapper {
  justify-content: space-between;
}

.gpu__content.quotes {
  margin-top: 50px;
}


/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
  .bestselling__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .book__wrapper {
    position: relative;
    margin-right: 20px;
  }
  .gpu__content.bestselling .carousel__category {
    margin-bottom: 0px;
  }
  
  .gpu__content.bestselling .carousel__title {
    margin-bottom: 0px;
  }
}