@font-face {
  /* font weight 400 */
  font-family: authorRegular;
  src: url(./fonts/Author-Regular.otf);
}

@font-face {
  /* font weight 700 */
  font-family: authorBold;
  src: url(./fonts/Author-Bold.otf);
}

@font-face {
  /* font weight 600 */
  font-family: authorSemiBold;
  src: url(./fonts/Author-Semibold.otf);
}

@font-face {
  /* font weight 500 */
  font-family: authorMedium;
  src: url(./fonts/Author-Medium.otf);
}

body {
  font-family: authorRegular !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: authorRegular !important;
}


/* HOME / INDEX */

.nav-link.active .icon-home {
  filter: invert(15%) sepia(67%) saturate(5667%) hue-rotate(350deg) brightness(102%) contrast(92%);
  position: relative;
  bottom: 3px;
}

.home-icon {
  max-width: 20px;
  width: 20px;
}

.navbar-light .navbar-toggler {
  border-color: #ffffff;
  color: #ffffff;
}

.navbar-light .navbar-toggler:focus {
  background-color: unset;
}

.navbar-light .navbar-toggler:hover {
  background-color: unset;
}
.navbar-light .navbar-toggler-icon {
  filter: invert(0%) sepia(0%) saturate(13%) hue-rotate(161deg) brightness(96%) contrast(100%);
}

.navbar-toggler-icon:focus {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(352deg) brightness(107%) contrast(101%);;
}

.search-icon {
  position: absolute;
  top: 20%;
  right: 4%;
  width: 18px;
  height: 18px;
}

.form-control.custom--input {
  background:#E8E8E8;
  border: unset;
  border-radius: 5px;
  font-size: 14px;
  color:#333333;
  width: 200px;
  margin-bottom: 0px;
}

.form__search {
  width: auto;
  margin-right: 30px;
}

.bg--custom {
  background: #ffffff;
}

.btn.btn-primary--custom {
  color: #FFFFFF;
  background: #009688;
  margin-bottom: 0px;
}

.btn.btn-secondary--custom {
  color: #009688;
  background: #DFDCEA;
  margin-bottom: 0px;
}

header .nav-item {
  margin-right: 20px;
}

header .nav-item.custom--mr {
  margin-right: 10px;
}

header .nav-item .nav-link.active {
  border-bottom: 4px solid #ED1C24;
}

header .nav-item .nav-link.active {
  color: #ED1C24 !important;
}

header .nav-item .nav-link {
  font-size: 16px;
  font-family: authorSemiBold;
  color: #333333 !important;
  text-transform: uppercase;
}

header .navbar-nav .show > .nav-link {
  border-bottom: 4px solid #ED1C24;
}

header .navbar-brand {
  margin-right: 40px;
  margin-left: 30px;
}

.wrapper__user-login {
  margin-right: 30px;
}

.user-login__label {
  font-size: 13px;
  font-family: authorMedium;
  color: #333333;
  text-align: right;
}

.user-login__name {
  font-size: 13px;
  color: #666666;
  text-align: right;
}

.user-login__img {
  width: 40px;
  height: 40px;
  max-width: 40px;
}

.btn.mobile-login {
  display: none;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 40px;
  height: 40px;
  background: #371F1F !important;
  border-radius: 50%;
}

.logo__gpu-desktop {
  display: block;
}

.logo__gpu-mobile {
  display: none;
}

i.icon--custom-position {
  position: relative;
  right: 25px;
}

.gpu__content.new-release h2 {
  color: #E20A15;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: unset;
}

.gpu__content.new-release h3 a {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.gpu__content.new-release h3 {
  margin-top: unset;
  margin-bottom: 40px;
  text-align: center;
}

.wrapper__carousel img {
  width: 150px !important;
  height: 210px;
}

.gpu__content.new-release .carousel__category {
  color: #009688;
  font-size: 15px;
  font-family: authorMedium;
  margin-bottom: 15px;
}

.gpu__content.new-release .carousel__title {
  color: #000000;
  font-size: 20px;
  font-family: authorMedium;
  margin-bottom: 15px;
}

.gpu__content.new-release .carousel__author {
  color: #1C79E5;
  font-size: 16px;
  font-family: authorMedium;
}

.carousel.slide.custom button:hover {
  background-color: unset !important;
}

.carousel.slide.custom button:focus {
  background-color: unset !important;
}

.carousel__detail {
  margin: 0px 20px;
}

.gpu__content.new-release .wrapper__carousel .owl-dot.active span {
  width: 30px !important;
  height: 7px !important;
  border-radius: 10px !important;
  background: #E20A15 !important;
}


.gpu__content.new-release .wrapper__carousel .owl-dot {
  margin-top: 30px;
}

.gpu__content.new-release .wrapper__carousel .owl-dot span {
  width: 7px !important;
  height: 7px !important;
  border-radius: 10px !important;
  background: #C4C4C4 !important;
}

.wrapper__carousel .owl-nav {
  display: none;
}

.fa-arrow-right.custom--color-orange {
  position: relative;
  bottom: -2px;
  font-size: 20px;
  color: #FF8159;
  margin-left: 5px;
}

.gpu__content.coming-soon {
  background: #9B1A1A;
  padding: 50px 0px;
}

.gpu__content.coming-soon h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  margin-top: unset;
  margin-bottom: unset;
  text-transform: uppercase;
}

.gpu__content.coming-soon h3 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
}

.gpu__content.coming-soon .coming-soon__more {
  color: #ffffff;
  font-size: 18px;
  font-family: authorMedium;
}

.fa-arrow-right.custom--color-white {
  position: relative;
  bottom: -2px;
  font-size: 20px;
  color: #ffffff;
  margin-left: 5px;
}

.gpu__content.coming-soon .carousel__title {
  color: #ffffff;
  font-size: 20px;
  font-family: authorMedium;
  margin-bottom: 15px;
}

.gpu__content.coming-soon .carousel__timedate {
  color: #ffffff;
  font-size: 16px;
  font-family: authorMedium;
}

.gpu__content.coming-soon .wrapper__carousel .owl-dots {
  display: none;
}


.gpu__content.bestselling {
  margin-bottom: 300px;
}

.gpu__content.bestselling h2 {
  font-size: 36px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.gpu__content.bestselling h3 {
  margin-top: unset;
}

.gpu__content.bestselling h3 a {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
}

.gpu__content.bestselling .carousel__category {
  color: #009688;
  font-size: 15px;
  font-family: authorMedium;
  margin-bottom: 15px;
}

.gpu__content.bestselling .carousel__title {
  color: #000000;
  font-size: 20px;
  font-family: authorMedium;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gpu__content.bestselling .carousel__author {
  color: #1C79E5;
  font-size: 16px;
  font-family: authorMedium;
}

.book__wrapper {
  position: absolute;
  width: 170px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.gpu__content.bestselling img {
  width: 170px;
}

.bestselling__wrapper {
  justify-content: space-between;
}

.gpu__content.quotes {
  margin-top: 50px;
  background: url('./assets/parallax-bg.png');
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.quotes__wrapper .main-quotes {
  font-size: 22px;
  font-family: authorSemiBold;
  color: #ffffff;
  margin-top: 15px;
}

.quotes__wrapper .secondary-quotes {
  font-size: 16px;
  font-family: authorSemiBold;
  color: #ffffff;
}

.quotes__wrapper .author-quotes {
  font-size: 15px;
  font-family: authorSemiBold;
  color: #ffffff;
}

.gpu__content.update-book {
  margin: 30px 0px;
}

.gpu__content.update-book .row {
  max-width: unset;
}

.gpu__content.update-book h2 {
  font-size: 36px;
  font-weight: 400;
  color: #E20A15;
  margin-top: unset;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.gpu__content.update-book a {
  font-size: 15px;
  font-weight: 400;
  color: #333333;
}

.update-book.title-book {
  width: 270px;
  font-size: 20px;
  font-family: authorSemiBold;
  color: #333333;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.update-book.category {
  width: 270px;
  font-size: 16px;
  font-weight: 400;
  color: #009688;
  margin: 15px 0px;
}

.update-book.category span {
  font-size: 16px;
  font-weight: 400;
  color: #635858;
}

.update-book.preview {
  width: 270px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gpu__content.author-ofthemonth {
  margin-top: 60px;
  background: url('./assets/content-bg.png');
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.gpu__content.author-ofthemonth img {
  width: 200px;
  height: 200px;
}

.gpu__content.author-ofthemonth h2 {
  margin-top: unset;
  font-size: 36px;
  color: #ffffff;
}

.gpu__content.author-ofthemonth a {
  font-size: 15px;
  color: #ffffff;
  font-family: authorSemiBold;
}

.gpu__content.author-ofthemonth .author__wrapper {
  margin-left: 30px;
}

.gpu__content.author-ofthemonth .author.name {
  font-size: 34px;
  color: #ffffff;
}

.gpu__content.author-ofthemonth .author.desc {
  font-size: 16px;
  color: #ffffff;
  font-family: authorMedium;
  margin: 15px 0px;
}

.gpu__content.author-ofthemonth .row {
  max-width: unset;
}

footer {
  margin-top: 60px;
  border-top: 1px solid #EDEDED;
}

footer .wrapper__main-footer .row {
  max-width: unset;
}

footer .wrapper__main-footer {
 padding-top: 40px;
}

.wrapper__secondary-footer {
  background: #F5F1F1;
  padding: 30px 0px;
  margin-top: 40px;
}

.footer__icon {
  color: #009688;
}


.footer__desc {
  font-size: 18px;
  font-family: authorMedium;
  color: #333333;
  padding-left: 20px;

}

.footer__detail {
  margin: 20px 0px;
}

.footer__list {
  font-size: 20px;
  color: #333333;
  font-family: authorSemiBold;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-left: 20px;
}

.footer__link-list-item {
  margin-bottom: 15px;
  padding-left: 20px;
}

.footer__link-list-item a {
  font-size: 16px;
  color: #333333;
  font-family: authorMedium;
  text-transform: uppercase;
}

.footer__icon-secondary {
  color: #501214;
  padding-right: 20px;
}

.wrapper__footer-icon-secondary {
  padding-left: 30px;
}

.footer__email {
  background-color: #F5F5F5 !important;
  border-radius: 5px 0px 0px 5px !important;
  border: unset !important;
  box-shadow: unset !important;
  padding: 15px !important;
  height: 44px !important;
  margin-bottom: 35px !important;
}

.btn.btn__footer-email {
  border-radius: 0px 5px 5px 0px !important;
  width: 120px !important;
  height: 44px !important;
  background-color: #009688;
  color: #ffffff;
}

.btn.btn__footer-email:hover {
  background-color: #DFDCEA;
  color: #009688;
}

.wrapper__footer-email {
  padding-left: 20px;
}

.secondary-footer__desc {
  font-size: 16px;
  color: #635858;
}

.secondary-footer__link {
  margin-left: 30px;
}

.secondary-footer__link a {
  font-family: authorMedium;
  font-size: 18px;
  color: #635858;
}

.secondary-footer--wrap {
  flex-wrap: wrap;
}

.dropdown-menu[data-bs-popper] {
  left: unset;
}

.dropdown-toggle::after {
  position: relative;
  top: 2px;
}


/* DETAIL BUKU */

aside {
  position: fixed;
  left: 5%;
  top: 20%;
  z-index: 999;
}

.aside__label {
  font-size: 16px;
  color: #222222;
  margin-bottom: 10px;
  text-align: center;
}

aside .aside__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 20px;
}

aside .aside__icon i {
  position: relative;
  top: 20%;
  color: #ffffff;
}

aside .aside__icon.aside__icon.facebook i {
  left: 34%;
}

aside .aside__icon.aside__icon.twitter i {
  left: 28%;
  top: 23%;
}

aside .aside__icon.aside__icon.gmail i {
  left: 25%;
}

aside .aside__icon.aside__icon.linkedin i {
  left: 29%;
}

aside .aside__icon.aside__icon.mail i {
  left: 29%;
}

aside .aside__icon.facebook {
  background: #3A589B;
}

aside .aside__icon.twitter {
  background: #1CB7EB;
}

aside .aside__icon.gmail {
  background: #E3411F;
}

aside .aside__icon.linkedin {
  background: #007AB9;
}

aside .aside__icon.mail {
  background: #BBBBBB;
}

.wrapper__breadcrumb {
  margin-top: 100px;
}

.wrapper__breadcrumb .breadcrumb-item {
  background: #F4F4F4;
  border-radius: 3px;
  margin-right: 10px;
  padding: 5px 12px;
}

.wrapper__breadcrumb .breadcrumb-item a {
  color: #9E8E8E;
  font-size: 14px;
  font-family: authorMedium;
}

.wrapper__breadcrumb .breadcrumb-item.active {
  background: #E20A15;
  border-radius: 3px;
  margin-right: 10px;
  padding: 5px 12px;
  color: #FFFFFF;
  font-size: 14px;
  font-family: authorMedium;
}

.wrapper__breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: unset;
}

.gpu__content.detail-buku {
  margin: 40px 150px;
}

.detail-buku__img {
  margin-right: 30px;
}

.detail-buku__img img {
  max-width: 320px;
}

.detail-buku__category {
  font-size: 20px;
  color: #E20A15;
  font-family: authorSemiBold;
  text-transform: uppercase;
}

.detail-buku__container h1 {
  margin: 15px 0px;
}

.detail-buku__container h2 {
  margin: unset;
}

.detail-buku__title {
  font-size: 30px;
  color: #000000;
  font-family: authorMedium;
}

.detail-buku__author {
  font-size: 18px;
  color: #333333;
}

.detail-buku__author span {
  font-size: 18px;
  color: #1C79E5;
  font-family: authorMedium;
}

.detail-buku__tabs {
  margin: 20px 0px;
}

.detail-buku__tabs .nav.nav-pills {
  margin-left: 0;
}

.detail-buku__tabs .nav.nav-pills .nav-item {
  margin-right: 10px;
}

.detail-buku__tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #ffffff;
  background-color: #009688;
  font-size: 16px;
  font-family: authorMedium;
}

.detail-buku__tabs .nav-pills .nav-link {
  background: #EEEEEE;
  color: #333333;
  font-size: 16px;
  font-family: authorMedium;
}

.icon-love-red {
  color: #FB4E4E;
  font-size: 16px;
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.details-label {
  font-size: 16px;
  color: #333333;
  font-family: authorMedium;
}

.details-value span {
  position: absolute;
  left: 20%;
}

.details-value {
  font-size: 16px;
  color: #333333;
  font-family: authorMedium;
}

.details-tags-label {
  font-family: authorSemiBold;
  font-size: 16px;
  color: #333333;
  margin-bottom: 5px;
}

.details-tags-value {
  background: #51C2F3;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 10px 10px 10px 0px;
}

.details-tags-value a {
  font-family: authorMedium;
  font-size: 15px;
  color: #FFFFFF;
}

.detail-buku__button {
  width: 100%;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 18px;
}

.detail-buku__button.primary--custom {
  background: #FF6C2B;
}

.detail-buku__button.secondary--custom {
  background: #3650DA;
}

.detail-buku__review .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: #ffffff;
  border-bottom: 3px solid #E20A15;
  font-size: 20px;
  color: #333333;
  font-family: authorMedium;
  border-radius: 0px;
}

.detail-buku__review .nav-pills .nav-link {
  background: #ffffff;
  font-size: 20px;
  color: #666666;
  font-family: authorMedium;
  border-radius: 0px;
}

.detail-buku__review .nav-item {
  margin-right: 30px;
}

.detail-buku__review .tab-content {
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  margin: 20px 0px;
  height: 200px;
}

.review__label-first {
  text-align: center;
  font-family: authorMedium;
  font-size: 16px;
  color: #333333;
}

.review__label-second {
  text-align: center;
  font-size: 16px;
  color: #333333;
  margin-bottom: 20px;
}

.detail-buku__review .btn.btn-primary {
  font-size: 16px;
  font-family: authorMedium;
}

.gpu__content.related-books {
  margin: 0 100px;
}

.gpu__content.related-books h2 {
  font-size: 36px;
  margin: unset;
  color: #333333;
}

.gpu__content.related-books h3 {
  font-size: 15px;
  margin: 20px 0px;
  color: #000000;
  width: 300px;
}

.related-books__lines {
  border: 1px solid #E20A15;
  position: relative;
  top: 45%;
  width: 100%;
}

.gpu__content.related-books .related-books__category {
  color: #009688;
  font-size: 15px;
  font-family: authorMedium;
  margin-bottom: 15px;
}

.gpu__content.related-books .related-books__title {
  color: #000000;
  font-size: 20px;
  font-family: authorMedium;
  margin-bottom: 15px;
}

.gpu__content.related-books .related-books__author {
  color: #1C79E5;
  font-size: 16px;
  font-family: authorMedium;
}

.related-books__detail-book {
  margin-top: 15px;
  margin-bottom: 30px;
}


/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
  .bestselling__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .book__wrapper {
    position: relative;
    margin-right: 20px;
  }

  .gpu__content.bestselling .carousel__category {
    margin-bottom: 0px;
  }
  
  .gpu__content.bestselling .carousel__title {
    margin-bottom: 0px;
  }

  .book-quotes__img {
    display: none;
  }

  .gpu__content.bestselling {
    margin-bottom: 0px;
  }

  .update-book.preview {
    margin-bottom: 30px;
  }

  .author-ofthemonth--flex-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gpu__content.author-ofthemonth h2 {
    margin-bottom: unset;
  }

  .gpu__content.author-ofthemonth img {
    margin: 30px 0px;
  }

  .gpu__content.author-ofthemonth .author__wrapper {
    margin-left: 0px;
  }

  .gpu__content.update-book img {
    width: 100%;
  }

  .update-book.title-book {
    width: 100%;
  }

  header .nav-item .nav-link.active {
    border-bottom: unset;
  }

  .form__search {
    margin-right: 0px;
  }

  .logo__gpu-desktop {
    display: none;
  }
  
  .logo__gpu-mobile {
    display: block;
  }

  header .navbar-brand {
    margin-right: 0px;
  }

  .btn.mobile-login {
    display: block;
    background: #009688;
    margin-bottom: 0px;
  }
  .form-control.custom--input {
    margin-bottom: 0px;
  }

  .navbar-light .navbar-toggler {
    margin-bottom: 0px;
  }

  .search-icon {
    top: 27%;
  }

  .btn.btn-primary--custom {
    display: none;
  }

  .btn.btn-secondary--custom {
    display: none;
  }
  
  .carousel-item img {
    height: 450px;
  }

  .gpu__content.new-release {
    position: relative;
    bottom: 100px;
  }

  .detail-buku .detail-buku-wrap {
    flex-wrap: wrap;
  }

  .gpu__content.detail-buku {
    margin: 20px;
  }

  .gpu__content.related-books .related-books__category {
    margin-bottom: 5px;
  }
  
  .gpu__content.related-books .related-books__title {
    margin-bottom: 5px;
  }

}